@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wdth,wght@75..125,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfffe;
  --secondary: #f2f3f5;
  --text-stretch-base: 106%;
  --text-stretch-lg: 112%;
  --color-mint-opaque: #23e6a844;
  --color-mint-light: #e7feee;
  --color-mint: #23e6a8;
  --color-lavender: #a194be;
  --color-navy-opaque: #51577744;
  --color-navy-light: #515777;
  --color-navy: #130f35;
  --color-navy-dark: #140f3b;
}

body {
  color: var(--color-navy-dark);
  background: var(--background);
  font-family: 'Anek Latin', sans-serif;
  font-stretch: var(--text-stretch-base);
}

h1, h2, h3 {
  font-stretch: var(--text-stretch-lg);
}


.container {
  max-width: min(95%, 1400px);
  margin: 0 auto;
}

.text-stretch-lg {
  font-stretch: var(--text-stretch-lg);
}

@layer base {
  h1 {
    font-weight: 550;
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl font-semibold;
  }
  h3 {
    @apply text-4xl font-medium;
  }
  a {
    @apply text-mint;
  }
  strong {
    @apply font-semibold;
  }

}